tr {
  background-color: var(--color-container);
  border-bottom: 1px solid var(--color-text);

  &.selected {
    background-color: var(--color-background);
  }
}

tbody td {
  cursor: pointer;
}

tfoot tr {
  &:last-child {
    border: none;
  }
}
